<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.catdog.web.mappers.AdminMapper">
    <resultMap type="com.catdog.web.domains.AdminDTO" id="ADMIN">
        <id column="aid" property="aid"/>
        <result column="pwd" property="pwd"/>
        <result column="pname" property="pname"/>
    </resultMap>
    <select id="selectAdminById" resultMap="ADMIN">
        SELECT * FROM ADMIN
        WHERE AID LIKE #{aid} AND PWD LIKE #{pwd}
    </select>
    <insert id="insertAdmin" parameterType="com.catdog.web.domains.AdminDTO">
        INSERT INTO ADMIN (AID, PWD, PNAME) VALUES (
            #{aid}, #{pwd}, #{pname}
        )
    </insert>
</mapper>